// Variables

$black =	#000000
$blue =		#25a8e0
$green =	#75bb49
$red =		#ff4444
$white =	#ffffff
$yellow =	#fad701

$small-bp =	"(min-width: 1075px)"

// Mixins

clearfix()
	*zoom					1

	&:before,
	&:after
		content				""
		display				table

	&:after
		clear				both

// Fonts

@font-face
	font-family				"Mic32Normal"
	font-style				normal
	font-weight				400
	src						url("Mic32New-Rg.ttf") format("truetype")

@font-face
	font-family				"Mic32Light"
	font-style				normal
	font-weight				300
	src						url("Mic32New-Lt.ttf") format("truetype")

@font-face
	font-family				"Mic32Medium"
	font-style				normal
	font-weight				500
	src						url("Mic32New-Md.ttf") format("truetype")

// Modules
@import			"modules/*"