link(href="styles/banner-module.css", rel="stylesheet")

.banner-module

	.banner-module-images

		.carousel
			ul.carousel-slides
				li#slide1.carousel-slide(style="background-image:url(images/banner-module/carousel-slide-1.jpg);")
					a(href="", title="")
						span View Clemen's Story
				li#slide2.carousel-slide(style="background-image:url(images/banner-module/carousel-slide-1.jpg);")
					a(href="", title="")
						span View Clemen's Story
				li#slide3.carousel-slide(style="background-image:url(images/banner-module/carousel-slide-1.jpg);")
					a(href="", title="")
						span View Clemen's Story
				li#slide4.carousel-slide(style="background-image:url(images/banner-module/carousel-slide-1.jpg);")
					a(href="", title="")
						span View Clemen's Story
				li#slide5.carousel-slide(style="background-image:url(images/banner-module/carousel-slide-1.jpg);")
					a(href="", title="")
						span View Clemen's Story

	.banner-module-details

		h1 3 easy ways
			.subheading to get a car insurance quote

		ul.banner-module-list

			li
				.banner-module-list-left
					img(src="images/banner-module/laptop.gif", alt="")
				.banner-module-list-right
					a.banner-module-button(href="https://secure.directasia.com/online-insurance/car/q-start.aspx") Get a quote online
						i.banner-module-icon.banner-module-icon-right-arrow

			li
				.banner-module-list-left
					img(src="images/banner-module/telephone.gif", alt="")
				.banner-module-list-right
					p Call us on - 
						a.tel(href="", title="")
							span 666 5555
					p.small Mon-Fri 8am-8pm
					p.small Sat 8am-5pm
					p Like us to call you?
					p.small
						a.link.js-toggle-form-modal(href="#modal-form", title="") Leave your number &gt;

			li
				.banner-module-list-left
					img(src="images/banner-module/house.gif", alt="")
				.banner-module-list-right
					p Visit us in person
					p.small 88 South Bridge Road, Singapore 058716

.banner-module-modal#modal-form hello world
.banner-module-modal#modal-thankyou thank you

script(src="scripts/banner-module.js")